streamlit
pandas
numpy
scikit-learn
scipy
imbalanced-learn
xgboost
lightgbm
matplotlib
seaborn
joblib
shap
jinja2
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
jsonschema
jsonschema-specifications
MarkupSafe
pillow
protobuf
pyarrow
pydeck
python-dateutil
pytz
referencing
requests
rpds-py
six
smmap
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
